<div class='container'>
<h1>Everything Shoes!</h1>
<br>
<h2>Here is a list of all of your stores:</h2>
<% @stores.each do |s| %>
<h3><a href='/stores/<%= s.id %>'><%= s.store %></a></h3>
<% end %>
<br>
<h2>Add a Store</h2>
  <div>
    <form action='/stores' method='post'>
      <label for='store'>Add a Store:</label>
      <input name='store' type='text'>
    </div><br>
      <button type='submit'>Add Store</button>
    </form>
<br><br><br>
<h2>Add a Shoe Brand with it's Price:</h2>
  <div>
    <form action='/brands' method='post'>
      <label for='brand'>Add a Brand:</label>
      <input name='brand' type='text'>
  </div>
  <div>
      <label for='price'>Add it's Price:</label>
      <input name='price' type='text'>
  </div>
      <button type='submit'>Add Brand</button>
    </form>
    <br><br><br>
  <h2>Brands</h2>
  <% @brands.each do |b| %>
  <h3><a href='/stores/<%= b.id %>/shoes'><%= b.brand %></a></h3><p> $<%= b.price %>0</p>
  <% end %>
</div>
