<h1><%= @get_id.store %></h1>
<br>
<h3>Options for your store:</h3>
<form action="/stores/<%= @get_id.id() %>/delete" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Store</button>
</form>
<br><br><br>
<form action="/stores/<%= @get_id.id() %>/update" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="store">Edit Store Name:</label>
  <input id="t2" name="store" type="text">

  <button type="submit">Update Store</button>
</form>
<br><br><br>
<h3>Add brands to this store</h3>
<form action='/add_brands/<%= @get_id.id %>' method='post'>
  <label for="brand">Select a Brand to Add:</label>
<select name='brand' type='text'>
  <% @brands.each() do |brand| %>
    <option value="<%= brand.id()%>"> <%= brand.brand() %> </option>
  <% end %>
</select>
<button type="submit">Add Brand</button>
</form>
<br><br>
<h2>Brands Associated with this Store</h2>
<% @get_id.brands.each do |b| %>
<h3><%= b.brand %></h3>
<% end %>
<br>
<a href='/'>Return Home</a>
